<div class="content">
    <div class="regulation">
        <label>Please Select Your Input File:
          <input type="file" id="fileI" accept=".txt" style="display:none" (change)="handleFiles($event)">
          <label class="btn" for="fileI">Choose File!</label>
        </label>

        <div *ngIf="inputValues.length>0">
            <h4>Test input:</h4>
            <p *ngFor="let item of inputValues;let i = index">
                {{item}}
            </p>
        </div>
    </div>
    <div class="answer-section">
        <label> 
          Here is QA Section 
        <button class="btn" (click)="showQA()">Show QA</button>
        </label>
        <div *ngIf="qAMap.size>0">
            <h4>Test Output:</h4>
            <div *ngFor="let item of qAMap | iterable;">
                <p>Q: {{item.key}}</p>
                <p>A: {{item.value}}</p>
            </div>
        </div>
    </div>
</div>